@using RiceDoctor.RuleManager
@model RiceDoctor.WebApp.Models.Advisory
@{
    var guessableFacts = (List<Fact>) ViewData["GuessableFacts"];
    ViewData["Title"] = "Tư vấn/Chuẩn đoán";
    ViewData["AdvisoryPage"] = true;
}

<div class="row">
    <div class="col-md-12">
        <h2>Vui lòng cung cấp thêm thông tin</h2>

        <form asp-controller="Advisory" asp-action="Infer" method="post">
            <input type="hidden" name="guid" value="@Model.Guid"/>
            @for (var i = 0; i < guessableFacts.Count; ++i)
            {
                <div class="form-group">
                    <label>
                        Sự kiện <a asp-controller="Ontology" asp-action="Individual" asp-route-individualName="@guessableFacts[i].Value">@guessableFacts[i].GetLabel()</a> có tồn tại không?
                    </label>
                    <input type="hidden" name="guessableFacts[@i].ClassName" value="@guessableFacts[i].Name"/>
                    <input type="hidden" name="guessableFacts[@i].IndividualName" value="@guessableFacts[i].Value"/>
                    <div class="radio">
                        <label><input type="radio" name="guessableFacts[@i].IsGuessable" value="1">Có</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="guessableFacts[@i].IsGuessable" value="0">Không</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="guessableFacts[@i].IsGuessable" value="-1">Không biết</label>
                    </div>
                </div>
            }
            <input class="btn btn-default" type="submit" value="Trả lời">
        </form>
    </div>
</div>