@using System.Text
@using RiceDoctor.FuzzyManager
@using RiceDoctor.OntologyManager
@using RiceDoctor.RuleManager
@model RiceDoctor.WebApp.Models.Advisory
@{
    var problems = (IReadOnlyList<Problem>) ViewData["Problems"];
    var classes = (IReadOnlyList<Class>) ViewData["Classes"];
    var individuals = (IReadOnlyCollection<Individual>) ViewData["Individuals"];
    var fuzzyVariables = (IReadOnlyCollection<VariableSymbol>) ViewData["FuzzyVariables"];
    ViewData["Title"] = "Tư vấn/Chuẩn đoán";
    ViewData["AdvisoryPage"] = true;
}

<div class="row">
    <div class="col-md-12">
        <h2>Tư vấn/Chuẩn đoán</h2>

        <form asp-controller="Advisory" asp-action="SelectProblem" method="post">
            <input type="hidden" name="guid" value="@Model.Guid"/>
            <div class="form-group">
                <label class="col-md-3 control-label">Chọn dạng bài toán</label>
                <div class="col-md-9">
                    @if (problems != null)
                    {
                        for (var i = 0; i < problems.Count; ++i)
                        {
                            <div class="radio">
                                <label>
                                    <input type="radio" name="problemId" value="@i" onclick="handleProblem()">@problems[i].Type
                                </label>
                            </div>

                            var suggestTypes = new List<Class>();
                            foreach (var suggestType in problems[i].SuggestTypes)
                            {
                                if (!suggestTypes.Contains(suggestType))
                                {
                                    suggestTypes.Add(suggestType);
                                }
                                if (suggestType.GetAllSubClasses() != null)
                                {
                                    foreach (var domain in suggestType.GetAllSubClasses())
                                    {
                                        if (!suggestTypes.Contains(domain))
                                        {
                                            suggestTypes.Add(domain);
                                        }
                                    }
                                }
                            }
                            var suggestTypesSb = new StringBuilder();
                            <p id="problemDescription@(i)" style="display: none">
                                <span style="text-decoration: underline;">Gợi ý</span>:

                                @for (var j = 0; j < suggestTypes.Count; ++j)
                                {
                                    if (suggestTypes.Count > 1 && j == suggestTypes.Count - 1)
                                    {
                                        suggestTypesSb.Append(" và");
                                    }
                                    else if (j > 0)
                                    {
                                        suggestTypesSb.Append(',');
                                    }
                                    suggestTypesSb.Append($" <a href=\"{Url.Action("Class", "Ontology", new {className = suggestTypes[j].Id})}\">{suggestTypes[j]}</a>");
                                }
                                @Html.Raw(suggestTypesSb).
                            </p>
                        }
                    }
                    <div class="radio">
                        <label>
                            <input type="radio" name="problemId" value="-1" onclick="handleProblem()">Dạng tổng quát
                        </label>
                    </div>
                </div>
            </div>
            <div id="generalProblemForm" class="form-group row" style="display: none">
                <div class="col-md-12">
                    <label class="col-md-3 control-label" style="margin-bottom: 0">Nhập loại kết quả cần tìm</label>
                    <div class="col-md-9">
                        <select name="outputs" id="outputs" class="form-control" style="width: 100%" multiple>
                            @foreach (var cls in classes)
                            {
                                <option value="@cls.Id">@cls</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Nhập các biểu hiện của cây lúa</label>
                <div class="col-md-9">
                    <select name="inputs" id="inputs" class="form-control" style="width: 100%" multiple>
                        @foreach (var individual in individuals)
                        {
                            <option value="@individual.Id">@individual</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" style="margin-top: 15px !important">Nhập các biểu hiện mờ của cây lúa</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 15px !important">
                            <div class="row form-inline">
                                <div class="col-md-4">
                                    <select name="fuzzyInputs" id="fuzzyInputs" style="width: 100%">
                                        <option></option>
                                        @foreach (var fuzzyVariable in fuzzyVariables)
                                        {
                                            var cls = classes.FirstOrDefault(c => c.Id == fuzzyVariable.Id);
                                            var variableName = cls == null ? fuzzyVariable.Id : cls.ToString();

                                            <option value="@fuzzyVariable.Id">@variableName</option>
                                        }
                                    </select>
                                </div>
                                <input type="number" class="col-md-4 form-control" name="fuzzyValues" placeholder="Giá trị vật lý">
                                <div class="col-md-4">(ví dụ tạm)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" style="margin-top: 15px !important">Số kết quả cần tìm</label>
                <div class="col-md-9">
                    <input type="number" style="margin-top: 15px !important" class="form-control" name="totalGoals" placeholder="tìm tất cả thì để trống"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9" style="margin-top: 15px !important">
                    <input type="submit" class="btn btn-default" value="Xử lý"/>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function handleProblem() {
            @if (problems != null)
            {
                <text>
                    for (var i = 0; i < @problems.Count; ++i) {
                        var id = "#problemDescription" + i.toString();
                        if ($("input[name='problemId']:checked").val() === i.toString()) {
                            if ($(id).css('display') === 'none') {
                                $(id).fadeIn();
                            }
                        } else if ($(id).css('display') !== 'none') {
                            $(id).hide();
                        }
                    }
                </text>
            }

            if ($("input[name='problemId']:checked").val() === "-1") {
                if ($("#generalProblemForm").css('display') === 'none') {
                    $("#generalProblemForm").fadeIn();
                }
            } else {
                if ($("#generalProblemForm").css('display') !== 'none') {
                    $("#generalProblemForm").hide();
                }
            }
        }

        $("#outputs").select2({
            placeholder: "Bệnh, Sâu,...",
            theme: "bootstrap",
            language: "vi"
        });

        $("#inputs").select2({
            placeholder: "Thân lùn, Lá vàng,...",
            theme: "bootstrap",
            language: "vi"
        });

        $("#fuzzyInputs").select2({
            placeholder: "Độ ẩm, Lượng mưa,...",
            theme: "bootstrap",
            language: "vi"
        });
    </script>
}