@using System.Text
@using RiceDoctor.RuleManager
@model RiceDoctor.WebApp.Models.Advisory
@{
    var incompleteRules = (IReadOnlyCollection<Tuple<double, LogicRule, IReadOnlyList<Fact>>>) ViewData["IncompleteRules"];
    var incompleteFacts = (IReadOnlyList<Fact>) ViewData["IncompleteFacts"];
    var priority = ViewData["Priority"];
    ViewData["Title"] = "Tư vấn/Chuẩn đoán";
    ViewData["AdvisoryPage"] = true;
}

<div class="row">
    <div class="col-md-12">
        @if (Model.Results != null)
        {
            <h2>Suy diễn thành công</h2>

            <section>
                <h4>Kết quả</h4>
                @foreach (var resultFact in Model.Results)
                {
                    <a asp-controller="Ontology" asp-action="Individual" asp-route-individualName="@resultFact.Value">@resultFact.GetLabel()</a>
                }
            </section>

            <hr/>

            <button id="inferredRulesBtn">Xem danh sách luật được áp dụng</button>
            <div id="inferredRules" style="display: none">
                <section>
                    <h4>Luật tường minh</h4>
                    @foreach (var rule in Model.Engine.InferredLogicRules)
                    {
                        <p>@rule</p>
                    }
                </section>

                <section>
                    <h4>Luật quan hệ</h4>
                    @foreach (var rule in Model.Engine.InferredRelationRules)
                    {
                        <p>@rule.Key.GetLabel() - @rule.Value</p>
                    }
                </section>
            </div>
        }
        else
        {
            <h2>Suy diễn không thành công</h2>

            if (incompleteFacts != null)
            {
                var incompleteFactsSb = new StringBuilder();
                <p>
                    Hệ thống chuẩn đoán kết quả là
                    @for (var i = 0; i < incompleteFacts.Count; ++i)
                    {
                        if (incompleteFacts.Count > 1 && i == incompleteFacts.Count - 1)
                        {
                            incompleteFactsSb.Append(" và");
                        }
                        else if (i > 0)
                        {
                            incompleteFactsSb.Append(',');
                        }
                        incompleteFactsSb.Append($" <a href=\"{Url.Action("Individual", "Ontology", new {individualName = incompleteFacts[i].Value})}\">{incompleteFacts[i].GetLabel()}</a>");
                    }
                    @Html.Raw(incompleteFactsSb) với độ chính xác @priority%.
                </p>
            }

            <hr/>

            <button id="incompleteRulesBtn">Xem danh sách luật thiếu</button>
            <div id="incompleteRules" style="display: none">
                <table class="table">
                    <thead>
                    <tr>
                        <th>%</th>
                        <th>Luật</th>
                        <th>Sự kiện mục tiêu</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var rule in incompleteRules)
                    {
                        <tr>
                            <th>@(rule.Item1 * 100)</th>
                            <th>@rule.Item2</th>
                            <th>
                                @for (var i = 0; i < rule.Item3.Count; ++i)
                                {
                                    if (i > 0)
                                    {
                                        @:, 
                                    }
                                    <a asp-controller="Ontology" asp-action="Individual" asp-route-individualName="@rule.Item3[i].Value">
                                        @rule.Item3[i].GetLabel()
                                    </a>
                                }</th>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $("#inferredRulesBtn").click(function() {
            if ($("#inferredRules").css('display') === 'none') {
                $("#inferredRules").fadeIn();
            } else {
                $("#inferredRules").fadeOut();
            }
        });

        $("#incompleteRulesBtn").click(function() {
            if ($("#incompleteRules").css('display') === 'none') {
                $("#incompleteRules").fadeIn();
            } else {
                $("#incompleteRules").fadeOut();
            }
        });
    </script>
}