@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet JavaScriptSnippet
@{
    var activeOntologyPage = ViewData["OntologyPage"] != null && (bool) ViewData["OntologyPage"];
    var activeAdvisoryPage = ViewData["AdvisoryPage"] != null && (bool) ViewData["AdvisoryPage"];
    var activeSearchPage = ViewData["SearchPage"] != null && (bool) ViewData["SearchPage"];
    var activeAdminPage = ViewData["AdminPage"] != null && (bool) ViewData["AdminPage"];
    var activeContactPage = ViewData["ContactPage"] != null && (bool) ViewData["ContactPage"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Rice Doctor</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.css"/>
        <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css"/>
        <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/dist/select2-bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>

    @RenderSection("Styles", false)

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Rice Doctor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li
                    @if (activeOntologyPage)
                    {
                        @:class="navbar-nav-active"
                    }>
                    <a asp-controller="Ontology" asp-action="Index">Ontology</a>
                </li>
                <li
                    @if (activeAdvisoryPage)
                    {
                        @:class="navbar-nav-active"
                    }>
                    <a asp-controller="Advisory" asp-action="Index">Tư vấn</a>
                </li>
                <li
                    @if (activeSearchPage)
                    {
                        @: class="navbar-nav-active"
                    }>
                    <a asp-controller="Search" asp-action="Index">Tra cứu</a>
                </li>
                <li
                    @if (activeAdminPage)
                    {
                        @: class="navbar-nav-active"
                    }>
                    <a asp-controller="Admin" asp-action="Index">Quản trị</a>
                </li>
                <li
                    @if (activeContactPage)
                    {
                        @:class="navbar-nav-active"
                    }>
                    <a asp-controller="Home" asp-action="Contact">Liên hệ</a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="min-height: 750px">
    @RenderBody()
</div>

<div class="container">
    <footer>
        <div class="row" style="padding-left: 20px">
            <div class="col-md-4">
                <h3>Sinh viên</h3>
                <ul>
                    <li>
                        <a href="mailto:13520638@gm.uit.edu.vn">Nguyễn Minh Phúc 13520638@gm.uit.edu.vn</a>
                    </li>
                    <li>
                        <a href="mailto:13520489@gm.uit.edu.vn">Lê Thị Tuyết Mai 13520489@gm.uit.edu.vn</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Giảng viên hướng dẫn</h3>
                <ul>
                    <li>
                        <a href="mailto:thuonghtt@uit.edu.vn">Ths Huỳnh Thị Thanh Thương thuonghtt@uit.edu.vn</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Trường</h3>
                <ul>
                    <li>
                        <a href="https://www.uit.edu.vn/">Đại Học Công Nghệ Thông Tin</a>
                    </li>
                    <li>
                        <address>
                            Khu phố 6, P. Linh Trung
                            Quận Thủ Đức, Tp. Hồ Chí Minh
                        </address>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", false)
</body>
</html>