@model List<RiceDoctor.DatabaseManager.Website>
@{
    var deletedWebsite = (string) ViewData["DeletedWebsite"];

    ViewData["Title"] = "Quản trị";
    ViewData["AdminPage"] = true;
}

<h1>@ViewData["Title"]</h1>

<br/>

<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a asp-action="Index">Quản lý trang tin</a>
    </li>
    <li role="presentation">
        <a asp-action="Articles">Quản lý tài liệu</a>
    </li>
</ul>

<br/>

@if (deletedWebsite != null)
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        Đã xóa trang tin <strong>"@deletedWebsite"</strong>
    </div>
}

<p>
    <a class="btn btn-primary" asp-action="CreateWebsite">
        <span class="glyphicon glyphicon-plus"></span>
        Thêm trang tin mới
    </a>
</p>

<br/>

<table id="websiteTable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tên trang tin</th>
        <th>Url</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var website in Model)
    {
        <tr>
            <td>@website.Id</td>
            <td>
                <a asp-action="Website" asp-route-id="@website.Id">
                    @website.Name
                </a>
            </td>
            <td>
                <a href="@Html.Raw(website.Url)">@website.Url</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
        $('#websiteTable').DataTable({
            'order': [[0, 'desc']],
            'language': {
                'url': 'js/datatables.vietnamese.json'
            }
        });
    </script>
}