<div>
    
    @Html.Partial("partialView")

    @*<ul>
        @foreach (var a in ViewBag.allInviduals)
        {
            <li>
                <a href="#">@a.Id</a>
            </li>
            if (@a.Id == "PhanLan")
             {
                 @Html.Partial("partialView")
            }
        }
    </ul>
</div>*@
    
    
@{
    ViewData["Title"] = "Liên hệ";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Huỳnh Thị Thanh Thương</strong> <a href="mailto:thuonghtt@uit.edu.vn">thuonghtt@uit.edu.vn</a><br />
    <strong>Nguyễn Minh Phúc</strong> <a href="mailto:13520638@gm.uit.edu.vn">13520638@gm.uit.edu.vn</a><br />
    <strong>Lê Thị Tuyết Mai</strong> <a href="mailto:13520489@gm.uit.edu.vn">13520489@gm.uit.edu.vn</a>
</address>