@using RiceDoctor.OntologyManager
@using Attribute = RiceDoctor.OntologyManager.Attribute
@model RiceDoctor.OntologyManager.Attribute
@{

    var attributes = (IReadOnlyCollection<Attribute>) ViewData["Attributes"];
    ViewData["Title"] = "Thuộc tính " + Model;
    ViewData["OntologyPage"] = true;
}

<div class="row">
    <div class="col-md-3">
        <nav clas="navbar navbar-inverse">
            <div class=" bg-teal">
                @if (attributes != null)
                {
                    <ul class="nav nav-pills nav-stacked">
                        @foreach (var attribute in attributes)
                        {
                            var cls = "";
                            if (attribute == Model)
                            {
                                cls = "active";
                            }

                            <li class="nav-item @cls">
                                <a asp-controller="Ontology" asp-action="Attribute" asp-route-attributeName="@attribute.Id">@attribute</a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    @:<p>Không tìm thấy</p>
                }
            </div>
        </nav>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#">Thông tin cho chuyên gia</a>
            </li>
        </ul>

        <h2>@ViewData["Title"]</h2>

        @if (Model != null)
        {
            <section>
                <h4>Kiểu dữ liệu của @Model</h4>
                @if (Model.Range != null)
                {
                    <p>@Model.Range</p>

                    if (Model.Range == DataType.Enumerated)
                    {
                        <ul>
                            @foreach (var value in Model.EnumeratedValues)
                            {
                                <li>@value</li>
                            }
                        </ul>
                    }
                }
                else
                {
                    @:<p>không tìm thấy</p>
                }
            </section>

            <hr/>

            <section>
                <h4>Chủ thể của @Model</h4>
                @if (Model.GetAllDomains() != null)
                {
                    foreach (var allDomain in Model.GetAllDomains())
                    {
                        <p>
                            <a asp-controller="Ontology" asp-action="Class" asp-route-className="@allDomain.Id">@allDomain</a>
                            @if (Model.GetDirectDomains()?.Contains(allDomain) == true)
                            {
                                @:(trực tiếp)
                            }
                        </p>
                    }
                }
                else
                {
                    @:<p>Không tìm thấy</p>
                }
            </section>
        }
    </div>
</div>