@using RiceDoctor.OntologyManager
@using Attribute = RiceDoctor.OntologyManager.Attribute
@model RiceDoctor.OntologyManager.Attribute
@{

    var attributes = (IReadOnlyList<Attribute>) ViewData["Attributes"];
    ViewData["Title"] = "Thuộc tính " + Model;
    ViewData["OntologyPage"] = true;
}

<div class="row">
    <div class="col-md-3">
        <div id="tree"></div>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#">Thông tin cho chuyên gia</a>
            </li>
        </ul>

        <h2>
            <span class="glyphicon glyphicon-font"></span>
            @ViewData["Title"]
        </h2>

        @if (Model != null)
        {
            <section>
                <h4>Kiểu dữ liệu của @Model</h4>
                @if (Model.Range != null)
                {
                    <p>@Model.Range</p>

                    if (Model.Range == DataType.Enumerated)
                    {
                        <ul>
                            @foreach (var value in Model.EnumeratedValues)
                            {
                                <li>@value</li>
                            }
                        </ul>
                    }
                }
                else
                {
                    <p>Không tìm thấy</p>
                }
            </section>

            <hr/>

            <section>
                <h4>Domain của @Model</h4>
                @{
                    var directDomains = Model.GetDirectDomains();
                    var allDomains = Model.GetAllDomains();
                }
                @if (allDomains == null)
                {
                    <p>Không tìm thấy</p>
                }
                else
                {
                    if (directDomains != null)
                    {
                        allDomains = allDomains.Where(d => !directDomains.Contains(d)).ToList();

                        foreach (var directDomain in directDomains)
                        {
                            <p>
                                <a asp-controller="Ontology" asp-action="Class" asp-route-className="@directDomain.Id" asp-route-showAdvance="True">
                                    <span class="glyphicon glyphicon-copyright-mark"></span>
                                    <strong>@directDomain</strong>
                                </a>
                            </p>
                        }
                    }
                    foreach (var allDomain in allDomains)
                    {
                        <p>
                            <a asp-controller="Ontology" asp-action="Class" asp-route-className="@allDomain.Id" asp-route-showAdvance="True">
                                <span class="glyphicon glyphicon-copyright-mark"></span>
                                @allDomain
                            </a>
                        </p>
                    }
                }
            </section>
        }
    </div>
</div>

@section Scripts {
    <script>
        var data = [
            @if (attributes != null)
            {
                for (var i = 0; i < attributes.Count; ++i)
                {
                    if (i > 0)
                    {
                        @:,
                    }

                    @:{
                    <text>text: '@attributes[i]',</text>
                    <text>icon: 'glyphicon glyphicon-font',</text>
                    <text>href: '@Url.Action("Attribute", "Ontology", new {attributeName = attributes[i].Id})',</text>
                    if (attributes[i] == Model)
                    {
                        @:state: { selected: true }
                    }
                    @:}
                }
            }
        ];

        $('#tree').treeview({
            color: '#428bca',
            showBorder: false,
            selectable: false,
            enableLinks: true,
            data: data
        });
    </script>
}