@using System.Text
@using RiceDoctor.OntologyManager
@model RiceDoctor.OntologyManager.Class
@{
    var directSuperClassesTree = (List<IList<Class>>) ViewData["DirectSuperClassesTree"];
    ViewData["Title"] = "Lớp " + Model;

    var beginTree = new StringBuilder();
    var endTree = new StringBuilder();
    foreach (var tmpDirectSuperClasses in directSuperClassesTree)
    {
        beginTree.Append("<ul><li>");
        for (var i = 0; i < tmpDirectSuperClasses.Count; ++i)
        {
            if (i > 0)
            {
                beginTree.Append(", ");
            }
            beginTree.Append("<a href=\"");
            beginTree.Append(Url.Action("Class", "Ontology", new {className = tmpDirectSuperClasses[i].Id}));
            beginTree.Append("\">" + tmpDirectSuperClasses[i] + "</a>");
        }
        endTree.Insert(0, "</li></ul>");
    }

    beginTree.Append("<ul><li><a href=\"");
    beginTree.Append(Url.Action("Class", "Ontology", new {className = Model.Id}));
    beginTree.Append("\">" + Model + "</a> (this)");
    endTree.Insert(0, "</li></ul>");
}

<div class="row">
    <div class="col-md-3">
        <nav clas="navbar navbar-inverse">
            <div class="bg-teal">
                @Html.Raw(beginTree)

                @if (Model.GetDirectSubClasses() != null)
                {
                    <ul class="nav nav-pills nav-stacked">
                        @foreach (var directSubClass in Model.GetDirectSubClasses())
                        {
                            <li class="nav-item">@Html.ActionLink(directSubClass.ToString(), "Class", "Ontology", new {className = directSubClass.Id})</li>
                        }
                    </ul>
                }

                @Html.Raw(endTree)
            </div>
        </nav>
    </div>
    <div class="col-md-9">
        <h2>@Model</h2>

        <h4>Lớp cha của @Model</h4>
        @if (Model.GetAllSuperClasses() != null)
        {
            foreach (var allSuperClass in Model.GetAllSuperClasses())
            {
                <p>
                    <a asp-controller="Ontology" asp-action="Class" asp-route-className="@allSuperClass.Id">@allSuperClass</a>
                    @if (Model.GetDirectSuperClasses()?.Contains(allSuperClass) == true)
                    {
                        @:(trực tiếp)
                    }
                </p>
            }
        }
        else
        {
            @:<p>Không tìm thấy</p>
        }

        <hr/>

        <h4>Lớp con của @Model</h4>
        @if (Model.GetAllSubClasses() != null)
        {
            foreach (var allSubClass in Model.GetAllSubClasses())
            {
                <p>
                    <a asp-controller="Ontology" asp-action="Class" asp-route-className="@allSubClass.Id">@allSubClass</a>
                    @if (Model.GetDirectSubClasses()?.Contains(allSubClass) == true)
                    {
                        @:(trực tiếp)
                    }
                </p>
            }
        }
        else
        {
            @:<p>Không tìm thấy</p>
        }

        <hr/>

        <h4>Thuộc tính của @Model</h4>
        @if (Model.GetAttributes() != null)
        {
            foreach (var attribute in Model.GetAttributes())
            {
                <p>
                    <a asp-controller="Ontology" asp-action="Attribute" asp-route-attributeName="@attribute.Id">@attribute</a> @attribute.Range
                </p>
            }
        }
        else
        {
            @:<p>Không tìm thấy</p>
        }

        <hr/>

        <h4>Quan hệ của @Model với @Model là chủ thể</h4>
        @if (Model.GetDomainRelations() != null)
        {
            foreach (var domainRelation in Model.GetDomainRelations())
            {
                <p>
                    <a asp-controller="Ontology" asp-action="Relation" asp-route-relationName="@domainRelation.Id">@domainRelation</a>
                </p>
            }
        }
        else
        {
            @:<p>Không tìm thấy</p>
        }

        <hr/>

        <h4>Quan hệ của @Model với @Model là khách thể</h4>
        @if (Model.GetRangeRelations() != null)
        {
            foreach (var rangeRelation in Model.GetRangeRelations())
            {
                <p>
                    <a asp-controller="Ontology" asp-action="Relation" asp-route-relationName="@rangeRelation.Id">@rangeRelation</a>
                </p>
            }
        }
        else
        {
            @:<p>Không tìm thấy</p>
        }

        <hr/>

        <h4>Thể hiện của @Model</h4>
        @if (Model.GetAllIndividuals() != null)
        {
            foreach (var allIndividual in Model.GetAllIndividuals())
            {
                <p>
                    <a asp-controller="Ontology" asp-action="Individual" asp-route-individualName="@allIndividual.Id">@allIndividual</a>
                    @if (Model.GetDirectIndividuals()?.Contains(allIndividual) == true)
                    {
                        @:(trực tiếp)
                    }
                </p>
            }
        }
        else
        {
            @:<p>Không tìm thấy</p>
        }
    </div>
</div>