@using RiceDoctor.OntologyManager
@model RiceDoctor.OntologyManager.Relation
@{
    var relations = (IReadOnlyList<Relation>) ViewData["Relations"];
    ViewData["Title"] = "Quan hệ " + Model;
    ViewData["OntologyPage"] = true;
}

<div class="row">
    <div class="col-md-3">
        <div id="tree"></div>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#">Thông tin cho chuyên gia</a>
            </li>
        </ul>

        <h2>
            <span class="glyphicon glyphicon-registration-mark"></span>
            @ViewData["Title"]
        </h2>

        @if (Model != null)
        {
            <section>
                <h4>
                    Quan hệ inverse của @Model
                    @{ var inverseRelation = Model.GetInverseRelation(); }
                    @if (inverseRelation != null)
                    {
                        @:là 
                        <a asp-controller="Ontology" asp-action="Relation" asp-route-relationName="@inverseRelation.Id">
                            @inverseRelation
                        </a>
                    }
                    else
                    {
                        @:không tìm thấy
                    }
                </h4>
            </section>

            <hr/>

            <section>
                <h4>Domain của @Model</h4>
                @{
                    var directDomains = Model.GetDirectDomains();
                    var allDomains = Model.GetAllDomains();
                }
                @if (allDomains == null)
                {
                    <p>Không tìm thấy</p>
                }
                else
                {
                    if (directDomains != null)
                    {
                        allDomains = allDomains.Where(d => !directDomains.Contains(d)).ToList();

                        foreach (var directDomain in directDomains)
                        {
                            <p>
                                <a asp-controller="Ontology" asp-action="Class" asp-route-className="@directDomain.Id" asp-route-showAdvance="True">
                                    <span class="glyphicon glyphicon-copyright-mark"></span>
                                    <strong>@directDomain</strong>
                                </a>
                            </p>
                        }
                    }
                    foreach (var allDomain in allDomains)
                    {
                        <p>
                            <a asp-controller="Ontology" asp-action="Class" asp-route-className="@allDomain.Id" asp-route-showAdvance="True">
                                <span class="glyphicon glyphicon-copyright-mark"></span>
                                @allDomain
                            </a>
                        </p>
                    }
                }
            </section>

            <hr/>

            <section>
                <h4>Range của @Model</h4>
                @{
                    var directRanges = Model.GetDirectRanges();
                    var allRanges = Model.GetAllRanges();
                }
                @if (allRanges == null)
                {
                    <p>Không tìm thấy</p>
                }
                else
                {
                    if (directRanges != null)
                    {
                        allRanges = allRanges.Where(r => !directRanges.Contains(r)).ToList();

                        foreach (var directRange in directRanges)
                        {
                            <p>
                                <a asp-controller="Ontology" asp-action="Class" asp-route-className="@directRange.Id" asp-route-showAdvance="True">
                                    <span class="glyphicon glyphicon-copyright-mark"></span>
                                    <strong>@directRange</strong>
                                </a>
                            </p>
                        }
                    }
                    foreach (var allRange in allRanges)
                    {
                        <p>
                            <a asp-controller="Ontology" asp-action="Class" asp-route-className="@allRange.Id" asp-route-showAdvance="True">
                                <span class="glyphicon glyphicon-copyright-mark"></span>
                                @allRange
                            </a>
                        </p>
                    }
                }
            </section>
        }
    </div>
</div>

@section Scripts {
    <script>
        var data = [
            @if (relations != null)
            {
                for (var i = 0; i < relations.Count; ++i)
                {
                    if (i > 0)
                    {
                        @:,
                    }

                    @:{
                    <text>text: '@relations[i]',</text>
                    <text>icon: 'glyphicon glyphicon-registration-mark',</text>
                    <text>href: '@Url.Action("Relation", "Ontology", new {relationName = relations[i].Id})',</text>
                    if (relations[i] == Model)
                    {
                        @:state: { selected: true }
                    }
                    @:}
                }
            }
        ];

        $('#tree').treeview({
            color: '#428bca',
            showBorder: false,
            selectable: false,
            enableLinks: true,
            data: data
        });
    </script>
}