@using RiceDoctor.OntologyManager
@model RiceDoctor.OntologyManager.Relation
@{
    var relations = (IReadOnlyCollection<Relation>) ViewData["Relations"];
    ViewData["Title"] = "Quan hệ " + Model;
}

<div class="row">
    <div class="col-md-3">
        <nav clas="navbar navbar-inverse">
            <div class=" bg-teal">
                @if (relations != null)
                {
                    <ul class="nav nav-pills nav-stacked">
                        @foreach (var relation in relations)
                        {
                            <li class="nav-item">
                                @Html.ActionLink(relation.ToString(), "Relation", "Ontology", new {relationName = relation.Id})
                                @if (relation == Model)
                                {
                                    @: (this)
                                }
                            </li>
                        }
                    </ul>
                }
                else
                {
                    @:<p>Không tìm thấy</p>
                }
            </div>
        </nav>
    </div>
    <div class="col-md-9">
        <h2>@ViewData["Title"]</h2>

        @if (Model != null)
        {
            <section>
                <h4>
                    Quan hệ phản đối của @Model
                    @if (Model.GetInverseRelation() != null)
                    {
                        @:là @Model.GetInverseRelation()
                    }
                    else
                    {
                        @:không tìm thấy
                    }
                </h4>
            </section>

            <hr/>

            <section>
                <h4>Chủ thể của @Model</h4>
                @if (Model.GetAllDomains() != null)
                {
                    foreach (var allDomain in Model.GetAllDomains())
                    {
                        <p>
                            <a asp-controller="Ontology" asp-action="Class" asp-route-className="@allDomain.Id">@allDomain</a>
                            @if (Model.GetDirectDomains()?.Contains(allDomain) == true)
                            {
                                @:(trực tiếp)
                            }
                        </p>
                    }
                }
                else
                {
                    @:<p>Không tìm thấy</p>
                }
            </section>

            <hr/>

            <section>
                <h4>Khách thể của @Model</h4>
                @if (Model.GetAllRanges() != null)
                {
                    foreach (var allRange in Model.GetAllRanges())
                    {
                        <p>
                            <a asp-controller="Ontology" asp-action="Class" asp-route-className="@allRange.Id">@allRange</a>
                            @if (Model.GetDirectRanges()?.Contains(allRange) == true)
                            {
                                @:(trực tiếp)
                            }
                        </p>
                    }
                }
                else
                {
                    @:<p>Không tìm thấy</p>
                }
            </section>
        }
    </div>
</div>