@using RiceDoctor.OntologyManager
@using RiceDoctor.QueryManager
@using Attribute = RiceDoctor.OntologyManager.Attribute
@model IReadOnlyCollection<Tuple<string, RiceDoctor.QueryManager.QueryType, IReadOnlyCollection<object>>>
@{
    var keywords = (string) ViewData["Keywords"];
    ViewData["Title"] = "Tra cứu " + keywords;
}

<div class="row">
    <div class="col-md-12">
        <h2>Tra cứu "@keywords"</h2>

        @if (Model == null)
        {
            <h4>Không tìm thấy dữ liệu từ câu truy vấn</h4>

            <p>
                Tìm kiếm trên internet với <a href="http://lmgtfy.com/?q=@keywords">Google</a>.
            </p>

            <hr/>
        }
        else
        {
            foreach (var result in Model)
            {
                string type = null;
                switch (result.Item2)
                {
                    case QueryType.Class:
                        type = "lớp";
                        break;
                    case QueryType.Individual:
                        type = "thể hiện";
                        break;
                    case QueryType.Relation:
                        type = "quan hệ";
                        break;
                    case QueryType.Attribute:
                        type = "thuộc tính";
                        break;
                }

                <section>
                    <h4>Tìm thấy @result.Item3.Count @type với từ khóa "@result.Item1"</h4>

                    <ol>
                        @foreach (var item in result.Item3)
                        {
                            switch (result.Item2)
                            {
                                case QueryType.Class:
                                    <li>
                                        <a asp-controller="Ontology" asp-action="Class" asp-route-className="@(((Class) item).Id)">@item</a>
                                    </li>
                                    break;
                                case QueryType.Individual:
                                    <li>
                                        <a asp-controller="Ontology" asp-action="Individual" asp-route-individualName="@(((Individual) item).Id)">@item</a>
                                    </li>
                                    break;
                                case QueryType.Relation:
                                    <li>
                                        <a asp-controller="Ontology" asp-action="Relation" asp-route-relationName="@(((Relation) item).Id)">@item</a>
                                    </li>
                                    break;
                                case QueryType.Attribute:
                                    <li>
                                        <a asp-controller="Ontology" asp-action="Attribute" asp-route-attributeName="@(((Attribute) item).Id)">@item</a>
                                    </li>
                                    break;
                            }
                        }
                    </ol>
                </section>

                <hr/>
            }
        }
    </div>
</div>