@using RiceDoctor.OntologyManager
@using RiceDoctor.QueryManager
@using Attribute = RiceDoctor.OntologyManager.Attribute
@model Dictionary<string, List<KeyValuePair<RiceDoctor.QueryManager.QueryType, IReadOnlyCollection<object>>>>
@{
    var keywords = (string) ViewData["Keywords"];
    ViewData["Title"] = "Tra cứu \"" + keywords + "\"";
}

<div class="row">
    <div class="col-md-12">
        <h2>Tra cứu "@keywords"</h2>

        @if (Model == null)
        {
            <section>
                <h4>Không tìm thấy dữ liệu từ câu truy vấn</h4>

                <p>
                    Tìm kiếm trên internet với <a href="https://www.google.com/search?q=@keywords">Google</a>.
                </p>
            </section>

            <hr/>
        }
        else
        {
            foreach (var result in Model)
            {
                var emptyPair = new List<string>();
                foreach (var pair in result.Value)
                {
                    string type = null;
                    switch (pair.Key)
                    {
                        case QueryType.Class:
                            type = "lớp";
                            break;
                        case QueryType.Individual:
                            type = "thể hiện";
                            break;
                        case QueryType.Relation:
                            type = "quan hệ";
                            break;
                        case QueryType.Attribute:
                            type = "thuộc tính";
                            break;
                    }

                    if (pair.Value == null)
                    {
                        if (!emptyPair.Contains(type))
                        {
                            emptyPair.Add(type);
                        }
                    }
                    else
                    {
                        <section>
                            <h4>Tìm thấy @pair.Value.Count @type với từ khóa "@result.Key"</h4>

                            <ol>
                                @foreach (var value in pair.Value)
                                {
                                    switch (pair.Key)
                                    {
                                        case QueryType.Class:
                                            <li>
                                                <a asp-controller="Ontology" asp-action="Class" asp-route-className="@(((Class) value).Id)" asp-route-keywords="@result.Key">@value</a>
                                            </li>
                                            break;
                                        case QueryType.Individual:
                                            <li>
                                                <a asp-controller="Ontology" asp-action="Individual" asp-route-individualName="@(((Individual) value).Id)" asp-route-keywords="@result.Key">@value</a>
                                            </li>
                                            break;
                                        case QueryType.Relation:
                                            <li>
                                                <a asp-controller="Ontology" asp-action="Relation" asp-route-relationName="@(((Relation) value).Id)" asp-route-keywords="@result.Key">@value</a>
                                            </li>
                                            break;
                                        case QueryType.Attribute:
                                            <li>
                                                <a asp-controller="Ontology" asp-action="Attribute" asp-route-attributeName="@(((Attribute) value).Id)" asp-route-keywords="@result.Key">@value</a>
                                            </li>
                                            break;
                                    }
                                }
                            </ol>
                        </section>

                        <hr/>
                    }
                }

                if (emptyPair.Count > 0)
                {
                    var pairStr = string.Join(", ", emptyPair);
                    <section>
                        <h4>Không tìm thấy @pairStr với từ khóa "@result.Key"</h4>
                    </section>

                    <hr/>
                }
            }
        }
    </div>
</div>